body {
  background-color: #EAF6F7;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  background-color: #EAF6F7;
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width: 5%;
}
